html, body {
  background-color: #333;
  color: white;
}

.font-title {
  font-family: 'Jaldi', sans-serif;
  font-size: 15vmin;
  font-weight: bold;
  text-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.25);
}

.font-score {
  font-family: 'Jaldi', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.25);
}

.font-score::before {
  content: 'Score: ';
  opacity: 0.6;
  font-weight: normal;
}

.font-highscore {
  font-family: 'Jaldi', sans-serif;
  font-size: 4vmin;
  font-weight: bold;
  text-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.25);
}

.font-highscore::before {
  content: 'Highscore: ';
  opacity: 0.6;
  font-weight: normal;
}

.font-subtitle {
  opacity: 0.65;
  font-size: 4vmin;
}

.button {
  cursor: pointer;
  font-family: 'Jaldi', sans-serif;
  font-size: 24px;
  background-color: dodgerblue;
  color: white;
  border-radius: 2vmin;
  padding: 0.5em 1.25em;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.25);
  text-shadow: 0 1em 2em rgba(0, 0, 0, 0.15);
}

.button--danger {
  background-color: indianred;
}

.grid__cell {
  cursor: pointer;
}

/* SLIDING */

.animated__cell {
  transition: transform 500ms ease-in;
}

/* EMOJI */
.emoji {
  display: inline-flex;
  width: 14vmin;
  height: 14vmin;
  max-width: 64px;
  max-height: 64px;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  font-size: 1vmin;
  filter: drop-shadow(0 0.5em 0.125em #0008);
  cursor: pointer;
}

.emoji--bear  { background-image: url('/emojis/bear.png'); }
.emoji--cat   { background-image: url('/emojis/cat.png'); }
.emoji--dog   { background-image: url('/emojis/dog.png'); }
.emoji--fox   { background-image: url('/emojis/fox.png'); }
.emoji--frog  { background-image: url('/emojis/frog.png'); }
.emoji--mouse { background-image: url('/emojis/mouse.png'); }
.emoji--pig   { background-image: url('/emojis/pig.png'); }


.emoji--selected {
  animation: bob 600ms ease-in-out infinite;
  filter: drop-shadow(0 0.75em 0.5em #000);
}

.emoji--poof {
  animation: poof 500ms ease-in-out forwards;
}

@keyframes bob {
  0%, 100% { transform: none; }
  50% {  transform: translateY(-5%); }
}
@keyframes poof {
  0% { transform: none; }
  50% {  transform: scale(1.2); }
  100% { transform: scale(0); }
}

.popup__overlay {
  background: rgba(0, 0, 0, 0.75);
}

.popup {
  background: white;
  color: #333;
  font-size: 4vmin;
  padding: 2em;
  max-width: 75vmin;
  font-family: 'Jaldi', sans-serif;
  border-radius: 0.5em;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.75);
}

.popup__title {
  font-weight: bold;
  font-size: 8vmin;
}

.popup__subtitle {
  opacity: 0.7;
  margin-left: 0.125em;
  white-space: nowrap;
}

.popup__button {
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Jaldi', sans-serif;
  font-size: 4vmin;
  background-color: coral;
  color: white;
  border-radius: 0.5em;
  padding: 0.5em 1.25em;
  box-shadow: 0 2em 4em rgba(0, 0, 0, 0.25);
  text-shadow: 0 1em 2em rgba(0, 0, 0, 0.15);
}

.combo {
  position: absolute;
  top: -0.5em;
  font-size: 6vmin;
  left: 0;
  right: 0;
  font-family: 'Jaldi', sans-serif;
  text-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.75);
}

.combo__count {
  color: white;
  position: absolute;
  left: 2vmin;
  font-weight: bold;
  align-items: baseline;
  transform: rotate(-15deg) scale(0);
  transition: transform 200ms ease-in;
}

.combo__count.combo--visible {
  transform: rotate(-15deg) scale(1); 
}

.combo__count::before {
  font-weight: normal;
  content: 'COMBO x ';
  opacity: 0.75;
}

.combo__count::after {
  font-weight: normal;
  content: ' !';
  opacity: 0.75;
}

.combo__points {
  font-size: 8vmin;
  position: absolute;
  right: 0.5em;
  font-weight: bold;
  transform: rotate(15deg) scale(0);
  transition: transform 200ms ease-in;
}

.combo__points.combo--visible {
  transform: rotate(15deg) scale(1); 
}

.combo__points::before {
  font-weight: normal;
  content: '+ ';
  opacity: 0.75;
}
